@import 'tailwindcss';

#root {
  width: 100vw;
  height: 100vh;
  background-color: none;
  scrollbar-width: none;
  overflow-x: hidden;
  background-image: url('/winter-mountain-5120x2880-24311.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  scroll-behavior: smooth;
}

html {
scroll-behavior: smooth !important;
}

input:focus {
  outline: none;
  background-color: rgba(255, 40, 40, 0.733);
  border: 1px solid rgba(49, 47, 47, 0.801);
}

input {
  border: 1px solid rgba(68, 63, 63, 0.288);
  border-radius: 5px;
}

input:visited {
  background-color: white;
}

a {
  text-decoration: none;
}

